.card
{
    width: 15rem;
    height: 16rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: 0px 26px 2rem 26px;
}

.card span:nth-of-type(2){
    color: var(--gray);
    font-size: 16px;
}

.c-button{
    background: #ffffff;
    box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: #5290fd;
    width: 80%;
    margin-left: 1rem;
}

.card > img{
    width: 80%;
    height: 40%;
    transform: scale(1.4);
    padding-left: 1.9rem;
    margin-bottom: -1rem;
    margin-top: -0.4rem;
}

@media screen and (max-width: 480px) {
    .card{
        width: auto;
        height: 16rem;
    }
    .card > img{
        transform: scale(1.1);
        height: 200px;
        position: relative;
        left: 1rem;

    }
}