.containers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
  }

  .skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15rem 0rem 4rem 0rem;
  }

  .skill span{
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 0rem 0rem 2rem 0rem;
  }

  @media screen and (max-width: 480px){
    .containers{
      height: 220vh;
      margin-top: 2rem;
    }
    .skill{
      margin-top: 23rem;
    }
  }

  @media screen and (max-width: 480px){
    .containers{
      gap: 1rem;
      height: 190vh;
      margin: 0rem;
    }
    .skill span{
      padding: 4rem;
    }
  }