.t-wrapper{
    padding: 0 3rem 0 3rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.t-heading{
    font-size: 2rem;
    font-weight: bold;
}

.t-heading span:nth-of-type(2){
    color: var(--orange);
    padding: 6px;
}

.t-blur1{
    left: 38rem;
    top: 16rem;
}

.t-blur2{
    top: 9rem;
    left: 0rem;
}

.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    width: 30rem;
    height: 12rem;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--blueCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    overflow: hidden;
}

.testimonial > img{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    margin-top: -2rem;
}

.testimonial > span{
    color: var(--gray);
}

.t-wrapper .swiper{
    width: 100%;
    height: 70%;
}

.t-wrapper .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.t-wrapper .swiper-pagination-bullet-active{
    background: var(--orange);
}

@media screen and (max-width: 480px){
    .testimonial{
        overflow: hidden;
        padding: 0rem;
        margin: 0rem;
        width: 90%;
    }
    .testimonial > img{
        margin-top: 0rem;
    }
    .testimonial > span{
        padding: 0rem 0rem 9rem .5rem;
    }
    .t-wrapper{
        padding: 1rem;
        margin: 0rem;
        height: 70vh;
        gap: 0rem;
    }
}


@media screen and (max-width: 768px){
    .testimonial{
        width: 100%;
        height: 30vh;
    }
    .testimonial > img{
        margin-top: -0.9rem;
        width: 7rem;
        height: 7rem;
    }
    .testimonial > span{
        padding: 0rem 0rem 9rem .5rem;
    }
    .t-wrapper{
        padding: 1rem;
        margin: 0rem;
        height: 70vh;
    }
    .t-heading{
        margin-top: 7vh;
    }
}

@media screen and (max-width: 1024px){
    .testimonial{
        width: 100%;
        height: 30vh;
    }
    .testimonial > img{
        margin-top: -0.9rem;
        width: 7rem;
        height: 7rem;
    }
    .testimonial > span{
        padding: 0rem 0rem 9rem .5rem;
    }
    .t-wrapper{
        padding: 1rem;
        margin: 0rem;
        height: 70vh;
    }
}