.footer{
    background-color: orange;
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: -7rem;
    height: 30vh;
    border-radius: 10px 480px 10px 480px;
}

.f-content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
    gap: 4rem;
    color: white;
}

.f-icons{
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 480px) {
    .footer{
        border-radius: 10px 60px 10px 60px;    
        margin: 0rem 0rem 0rem 0rem; 
        height: 20vh;  
    }
    .f-content{
        margin-top: -0.6rem;
    }
    .f-icons{
        margin-top: -3rem;
    }
}