.services{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 70vh;
    margin-bottom: 13rem;
    margin-top: 9rem;
}

.awesome{
    display: flex;
    flex-direction: column;
    position: relative;
}
.awesome > :nth-child(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome > :nth-child(2){
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome > :nth-child(3){
    color: var(--gray);
    font-size: 14px;
    margin-top: 1rem;
}

.s-button{
    width: 8rem;
    padding: 1px 14px 1px 14px;
    height: 2rem;
    margin-top: 1rem;
}

.cards{
    position: relative;
}

.cards>*{
    position: absolute;
}

@media screen and (max-width: 480px) {
    .services{
        margin-top: 0;
        flex-direction: column;
        gap: 5rem;
        height: 51rem;
        padding: 0;
        padding: 1rem;
    }
    .cards{
        display: flex;
        flex-direction: column;
        gap: 17rem;
    }
    .cards>*{
        position: static !important;
    }
}

@media screen and (max-width: 768px){
    .services{
        flex-direction: column;
        height: 45rem;
        padding: 1rem 0rem 0rem 0rem;
    }
}

@media screen and (max-width: 1024px){
    .services{
        flex-direction: column;
        height: 45rem;
        padding: 1rem 0rem 0rem 0rem;
    }
}